<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tag_memo-index</title>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    <a href="/">Tag Memo</a>
  </header>

  <div class="wrapper">
    <section class="newTag">
      <p class="newTag__title">新規タグ作成</p>
      <a href="javascript:history.back()"><i class="far fa-window-close" id="close_tag"></i></a>
      <div class="newTag__content">
        <form action="/newAddTag" method="POST">
          <input type="text" placeholder="新規タグ" name="newTag_name">
          <input type="submit" value="作 成">
        </form>
      </div><!-- .addTag__content -->
    </section><!-- .addTag -->
  </div><!-- .wrapper -->

  <script src="js/script.js"></script>
</body>
</html>