<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tag_memo-index</title>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    <a href="/">Tag Memo</a>
  </header>

  <div class="wrapper">
    <div class="tag" id="tag">
      <p class="tag__title">設定中のタグ</p>
      <a href="/"><i class="far fa-window-close" id="close_tag"></i></a>
      <div class="tag__content">
        <a href="/addTag"  class="tag__add" id="">タグ追加</a>
        <ul>
          <% tag_map.forEach((item) => { %>
            <form action="/removeTag/<%= item.id %>" method="POST">
              <li>
                <p><%= item.name %></p>
                <input type="hidden" value="<%= item.id %>" name="tagId">
                <input class="fas fa-times" type="submit" value="&#xf00d">
              </li>
            </form>
          <% }); %>
        </ul>
      </div><!-- .tag__content -->
    </div><!-- .tag -->
  </div><!-- .wrapper -->

  <script src="js/script.js"></script>
</body>
</html>